In [1]:
import pandas as pd
from datetime import time
import matplotlib.pyplot as plt
import seaborn; seaborn.set()  # plot styling
import numpy as np
%matplotlib inline

/Users/melissah/anaconda/lib/python2.7/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

In [ ]:
# !curl -o FremontBridge.csv https://data.seattle.gov/api/views/65db-xm6k/rows.csv?accessType=DOWNLOAD

Read in the csv from the appropriate directory as a pandas dataframe.

In [11]:
data = pd.read_csv('FremontBridge.csv', index_col='Date', parse_dates=True)

Print out the first five lines of the dataset to see what kinds of information the file has. Make a list of all the headers.

In [8]:
data.head()

,Fremont Bridge West Sidewalk,Fremont Bridge East Sidewalk
Date,,
2012-10-03 00:00:00,4,9
2012-10-03 01:00:00,4,6
2012-10-03 02:00:00,1,1
2012-10-03 03:00:00,2,3
2012-10-03 04:00:00,6,1

Rename the columns to simpler (one word) names, replace any empty data with the value 0 and add a column for the total number of riders.

In [12]:
data.columns = ['West', 'East']
data.fillna(0, inplace=True)
data['Total'] = data.eval('East + West')

/Users/melissah/anaconda/lib/python2.7/site-packages/pandas/computation/ops.py:62: DeprecationWarning: object() takes no parameters
  return supr_new(klass, name, env, side=side, encoding=encoding)
/Users/melissah/anaconda/lib/python2.7/site-packages/pandas/computation/ops.py:62: DeprecationWarning: object() takes no parameters
  return supr_new(klass, name, env, side=side, encoding=encoding)

What time period does this dataset cover? (ie. what is the start date and end date of the dataset?)

                     West  East  Total
Date
2012-10-03 00:00:00     4     9     13
2012-10-03 01:00:00     4     6     10
2012-10-03 02:00:00     1     1      2
2012-10-03 03:00:00     2     3      5
2012-10-03 04:00:00     6     1      7

[5 rows x 3 columns]
['West', 'East', 'Total']

In [14]:
data.tail()

                     West  East  Total
Date
2017-05-31 19:00:00    83   129    212
2017-05-31 20:00:00    57    83    140
2017-05-31 21:00:00    27    40     67
2017-05-31 22:00:00    26    23     49
2017-05-31 23:00:00    32    16     48

[5 rows x 3 columns]